nav .nav-wrapper .center-align {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
nav ul li a {
    font-weight: bold;
}

nav {
    text-align: center;
    font-weight: bold;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    order: -1;
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-bottom: 20px;
}

.card-content {
    flex: 1;
}

.card-action {
    text-align: center;
}
